#datos {
  background-color: #e6e6fa;
}

#header {
  background-color: black;
}

#nombre {
  color: white;
  font-family: century gothic;
  font-weight: bold;
}

#card {
  margin-top: 20px;
}

#cv,
#gh {
  background-color: #e6e6fa;
}

body {
}
